<form method="get" action="">
<div class="radioset">
    <input type="radio" id="radio1" name="cate" /><label for="radio1">按吧名搜索</label>
    <input type="radio" id="radio2" name="cate" checked="checked" /><label for="radio2">按标题搜索</label>
    <input type="radio" id="radio3" name="cate" /><label for="radio3">按作者搜索</label>
</div>
<div class="watermark">
    <label for="keywords">
        请输入关键字</label>
    <input type="text" value="" name="keywords" id="keywords" />
    <button type="submit">
        <span>搜索</span>
    </button>
</div>
</form>
