/*
[Contents]

	0- Global
	1- Header
	2- Main Container
	3- Main
	4- Sidebar
	5- Footer
*/

/* =0 Global
---------------------------------------------------------------------------------------------------------------------*/

/* =1 Header
---------------------------------------------------------------------------------------------------------------------*/
.search-form {
    padding: 20px;
    border: 1px solid #cc6600;
}
/* =2 Main Container
---------------------------------------------------------------------------------------------------------------------*/
.thumb {
    width: 120px;
    height: 80px;
    float: left;
    margin: 0 10px 10px 0;
}

.col21 dl {
    padding: 5px;
}

    .col21 dl dt, .col21 dl dd {
        display: inline-block;
    }

.col21 .wrapper {
    border: 2px solid #7AC0DA;
    padding: 10px;
}

.col21 .list {
    border: 2px solid #7AC0DA;
    margin-top:5px;
    margin-right:10px;
    clear: both;
}

    .col21 .list li {
        display: inline-block;
        width: 30%;
    }
.col21 .col21 {
    margin:5px 0;
}
.col21 .col21 > h2 {
    font-size: 16px;
    color: #fff;
    background-color: #D3DCE0;
    padding: 5px;
    display: inline;
}
/* =3 Main
---------------------------------------------------------------------------------------------------------------------*/

/* =4 Sidebar
---------------------------------------------------------------------------------------------------------------------*/

/* =5 Footer
---------------------------------------------------------------------------------------------------------------------*/
