<div class="accordion">
    <div>
        <h3>
            <a href="javascript:void(0);">Articles</a></h3>
        <ul>
            <li>@Html.ActionLink("Category List", "Index", "Category")</li>
            <li>@Html.ActionLink("Article List", "Index", "Content")</li>
        </ul>
    </div>
    <div>
        <h3>
            <a href="javascript:void(0);">Second</a></h3>
        <div>
            Phasellus mattis tincidunt nibh.</div>
    </div>
    <div>
        <h3>
            <a href="javascript:void(0);">Third</a></h3>
        <div>
            Nam dui erat, auctor a, dignissim quis.</div>
    </div>
</div>
