/*
[Contents]

	0- Global
	1- Header
	2- Main Container
	3- Main
	4- Sidebar
	5- Footer
*/

/* =0 Global
---------------------------------------------------------------------------------------------------------------------*/

/* =1 Header
---------------------------------------------------------------------------------------------------------------------*/
#header nav
{
    clear: both;
    width: 960px;
    margin: 5px auto;
}
/* =2 Main Container
---------------------------------------------------------------------------------------------------------------------*/

/* =3 Main
---------------------------------------------------------------------------------------------------------------------*/
#main {
    display:block;
    margin-left:200px;
    min-height:400px;
}
#main > article
{
    margin:10px;
}

/* =4 Sidebar
---------------------------------------------------------------------------------------------------------------------*/
#sidebar {
    display:block;
    width:180px;
    float:left;
    min-height:500px;
}
/* =5 Footer
---------------------------------------------------------------------------------------------------------------------*/
