/*
[Contents]

	0- Global
	1- Header
	2- Main Container
	3- Main
	4- Sidebar
	5- Footer
*/

/* =0 Global
---------------------------------------------------------------------------------------------------------------------*/
.col21 {
    width:50%;
    float:right;
}
    .col21:first-child {
        float:left;
    }
    .col21 > div {
        margin:10px;
    }

/* =1 Header
---------------------------------------------------------------------------------------------------------------------*/

/* =2 Main Container
---------------------------------------------------------------------------------------------------------------------*/

/* =3 Main
---------------------------------------------------------------------------------------------------------------------*/
#main
{
    width:700px;
    float:left;
    min-height:360px;
    background-color:#7AC0DA;
}
/* =4 Sidebar
---------------------------------------------------------------------------------------------------------------------*/
#sidebar
{
    width:260px;
    min-height:400px;
    background-color:#D3DCE0;
    float:right;
}
/* =5 Footer
---------------------------------------------------------------------------------------------------------------------*/
