<?xml version="1.0" encoding="utf-8" ?>
<Site xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <LastUpdateDate>0001-01-01T00:00:00</LastUpdateDate>
  <DisplayName/>
  <Culture>en-IE</Culture>
  <Theme>Default</Theme>
  <Domains xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
    <a:string>localhost</a:string>
    <a:string>travix</a:string>
  </Domains>
  <SitePath/>
  <Mode>Debug</Mode>
  <Version>1.0.0.0</Version>
  <Repository>VliegWinkel</Repository>
  <CustomErrors i:nil="true"/>
  <EnableJquery>false</EnableJquery>
  <InlineEditing>true</InlineEditing>
  <Smtp>
    <EnableSsl>false</EnableSsl>
    <From/>
    <Host/>
    <Password>admin</Password>
    <Port>25</Port>
    <To i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    <UserName>admin</UserName>
  </Smtp>
  <ShowSitemap>false</ShowSitemap>
  <CustomFields i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <EnableVersioning>false</EnableVersioning>
  <EnableStyleEdting>false</EnableStyleEdting>
  <ResourceDomain/>
</Site>